export const settings = {
    slack: {
      accessToken: "",
    },
    projects: {
      IIQ: {
        directory: "./profiles/iiq/",
        channel: "",
      },
      IIQSAAS: {
        directory: "./profiles/IIQSAAS/",
        channel: "",
      },
      YIQ: {
        directory: "./profiles/yiq/",
        channel: "",
      },
    },
  };
  