export const settings = {
    slack: {
      accessToken: "",
    },
    projects: {
      IIQSAAS: {
        directory: "./projects/IIQSAAS/",
        channel: "",
      },
      YIQ: {
        directory: "./projects/yiq/",
        channel: "",
      },
    },
  };
  